<!DOCTYPE html>
<html lang="pt-mz">
	<head>
		<%- include('../../partials/head') %>
		<link rel="stylesheet" type="text/css" href="/views/pages/home/style.css" />
		<link rel="stylesheet" href="/views/styles/header.css" />
		<link rel="stylesheet" href="/views/styles/footer.css" />

		<title>R-Neonatal</title>
	</head>
	<body>
		<%- include('../../partials/header') %> <%-
		include('../../partials/thumbnail', { level2: [ '', '' ], level3: [ '', '' ]
		}) %>

		<main>
			<a href="http://localhost:3333/mothers" class="card-mother">
				<section class="card-description">
					<h2>Mães</h2>
					<img src="/views/assets/mother.svg" alt="icon" />
				</section>

				<section class="card-number">
					<span><%= countMothers %> </span>
				</section>
			</a>

			<a href="http://localhost:3333/children" class="card-child">
				<section class="card-description">
					<h2>Filhos</h2>
					<img src="/views/assets/baby.svg" alt="icon" />
				</section>

				<section class="card-number">
					<span><%= countChildren %> </span>
				</section>
			</a>

			<a href="#" onclick="Modal.open()" class="card-verify">
				<section class="card-description">
					<h2>Verificar dados da mãe e do Bebê</h2>
				</section>

				<section class="card-number"></section>
			</a>
		</main>

		<div class="modal-overlay">
			<div class="modal">
				<section id="form">
					<h2>Nova criança</h2>
					<form action="" onsubmit="Form.submit(event)">
						<fieldset class="finger-button">
							<section>
								<button type="button" onclick="Form.createMotherFinger()">
									Buscar Fingerprint da mãe
								</button>

								<span class="material-symbols-outlined" id="mother-finger-icon">
									cancel
								</span>
							</section>
							<br />

							<section>
								<button type="button" onclick="Form.createFinger()">
									Buscar Fingerprint do Bebê
								</button>

								<span class="material-symbols-outlined" id="finger-icon">
									cancel
								</span>
							</section>
						</fieldset>

						<p id="result"></p>

						<div class="input-group actions">
							<button type="button" class="cancel" onclick="Modal.close()">
								Cancelar
							</button>
							<button type="submit">Salvar</button>
						</div>
					</form>
				</section>
			</div>
		</div>

		<%- include('../../partials/footer') %>

		<script src="/views/pages/home/script.js"></script>
	</body>
</html>
